{% extends 'blog/base.html' %}

{% block content %}
  <form method="post">
 
    {% csrf_token %}
    <div class="form-group" >
      <label for="title">عنوان</label>
      <input type="text" class="form-control" id="id_title1" name="title">
    </div>
    <div class="form-group">
      <label for="text">متن</label>
      <textarea class="form-control" id="id_text1" name="text" rows="5"></textarea>
    </div>
    <button type="submit" class="btn btn-success">ذخیره</button>
  </form>
{% endblock %}